@import '@/assets/scss/_reset.scss'; //typography
@import '@/assets/scss/_typography.scss'; //typography
@import '@/assets/scss/_variables.scss'; //variables

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

section {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  @include tablet {
    overflow: unset;
  }
}
/*
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}*/
/* header background */
div.theme--dark>div[data-v-33faa3ab] {
  background-color: $darkBlack;
}

/* Dark theme color*/
.theme--dark.v-sheet,
.theme--dark.v-data-table,
.theme--dark.v-icon {
  color: $beige !important;
}

.v-main__wrap .theme--dark.v-card {
  border: 1px solid #655d5d;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background:$beige
}

::-webkit-scrollbar-thumb {
  background: $brown;
}


a {
  position: relative;
  z-index: 1;
  padding: $s-4 $s-5;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    z-index: -1;
    transition: all 0.5s ease;
  }

  &:hover {
    &:after {
      height: 100%;
    }
  }
}

.base__title {
  font-family: $fontfamily;
  @include typography(32, 60, 320, 1440);
  letter-spacing: 10px;
  text-align: left;
  margin-bottom: $m-5;
  margin-top: $m-5;
  @include tablet {
    margin-bottom: $m-4;
    margin-top: $m-4;
  }
}

.base__seeMore {
  margin-top: 50px;
  margin-bottom: 50px;
}
